{#- /app/base/templates/crud/index.jinja #}
{%- extends "base.jinja" %}
{%- set prev_page = url_for('base.index') %}
{%- block content %}
<div class="container d-flex mt-4">
{%- for table_category, table_names in table_map.items() %}
  <div class="card mx-2">
    <div class="card-header">{{ _(table_category, True) }}</div>
    <div class="card-body">
      <div class="list-group">
      {%- for table_name in table_names %}     
        <a href="{{ url_for('base.crud.view_table', table_name=table_name) }}"
            class="list-group-item list-group-item-action">{{ _(table_name, True) }}</a>
      {%- endfor %}
      </div>
    </div>
  </div>
{%- endfor %}
</div>
{% endblock content %}
