{#- app/base/templates/crud/modify_record.jinja -#}
{#-
  @params:
    table_name,
    pks: str = comma joined primary keys,
    select_options={fk_col_name: ((pks, name)...)},
    date_keys: set(str),
    longtext_keys: set(str),
    json_keys: set(str),
    required_keys: set(str),
    readonly_keys: set(str),
    data: dict(key, value)
-#}
{%- from 'macros/modal-dbman.jinja' import ModalDBMan -%}
{%- from 'macros/datadict-dbman.jinja' import DatadictDBMan -%}
{%- extends "base.jinja" -%}
{%- set prev_page = url_for('base.crud.view_table', table_name=table_name) -%}
{%- block head %}
  <meta name="modules" content="form-modify,modal-alert">
{%- endblock head -%}
{%- block content %}
<div class="container-fluid">
  <form method="post" id="dbman-modify-main" class="needs-validation" novalidate>
    <div class="row mt-2 dbman-fixed-fill">
      <div class="col col-md-2 d-none d-md-block dbman-independent-scroll">
        <div class="card">
          <div class="card-header text-center">
            {{- _('Related Actions') -}}
          </div>
          <div class="list-group text-center">
            <button type="submit" class="list-group-item list-group-item-action">
              {{- _('Save Changes') -}}
            </button>
            <button
              class="list-group-item list-group-item-action"
              data-dbman-url="{{ url_for('base.crud.delete_record', table_name=table_name, pks=pks) }}"
              data-dbman-toggle="delete-record">
              <span class="text-danger">{{ _('Delete') }}</span>
            </button>
            <a  href="{{ url_for('base.crud.view_record', table_name=table_name, pks=pks) }}"
                class="list-group-item list-group-item-action">
              {{- _('View Details') -}}
            </a>
            <a  href="{{ url_for('base.crud.view_table', table_name=table_name) }}"
                class="list-group-item list-group-item-action">
              {{- _('Cancel') -}}
            </a>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 mx-auto dbman-independent-scroll">
        <div class="card">
          <div class="card-header">
            {{- _('_enter_form_data') -}}
          </div>
          <div class="card-body">
          {%- for key, tnvr_o in data.items() %}
            <div class="input-group mb-3 flex-nowrap">
              <label class="input-group-text" for="{{ key }}">
                {{- tnvr_o[1] -}}
              {%- if tnvr_o[3] -%}
                <div class="text-danger">*</div>
              {%- endif -%}
              </label>
              {%- if tnvr_o[0] == 'date' %}
              <input  name="{{ key }}"
                      type="date"
                      class="form-control"
                      id="{{ key }}"
                      value="{{- tnvr_o[2] -}}"
                      {{ 'required' if tnvr_o[3] }}>
              {%- elif tnvr_o[0] == 'select' -%}
                {%- set options = tnvr_o[4] -%}
                {%- set is_long_options = options|length > 5 -%}
                {%- if is_long_options %}
              <div class="mj-selectpicker">
                <input  type="search" class="form-control" placeholder="🔍" id="{{ key }}-search">
                {%- endif %}
                <select name="{{ key }}"
                        class="form-select"
                        id="{{ key }}"
                        {{ 'required' if tnvr_o[3] }}>
                  <option value="" 
                          {{ 'selected' if tnvr_o[2] == None or tnvr_o[2] == '' }}
                          {{ 'hidden' if tnvr_o[3] }}>/</option>
                  {%- for option in options %}
                  <option value="{{- option[0] -}}"
                    {{ 'selected' if tnvr_o[2] == option[0] }}>
                    {{- option[1] -}}
                  </option>
                  {%- endfor %}
                </select>
                {%- if is_long_options %}
              </div>
                {%- endif -%}
              {%- elif tnvr_o[0] == 'DataJson' %}
              <textarea id="{{ key }}" name="{{ key }}" class="form-control" 
                        row="3" value='{{ tnvr_o[2] }}' readonly>
                {{- tnvr_o[2] -}}
              </textarea>
            </div>
            <div>
              <div id="dbman-datajson-{{ key }}" class="dbman-datajson"></div>
              {%- elif tnvr_o[0] == 'textarea' %}
              <textarea name="{{ key }}"
                        id="{{- key -}}"
                        class="form-control"
                        rows="{{- 3 if tnvr_o[2] is none or tnvr_o[2] == '' else ((tnvr_o[2]|length)/40)|round|int + 1 -}}"
                        {{ 'required pattern=".*\S.*"' if tnvr_o[3] }}>
                {{- tnvr_o[2] -}}
              </textarea>
              {%- else %}
              <input name="{{ key }}"
                    type="text"
                    class="form-control"
                    id="{{- key -}}"
                    value="{{- tnvr_o[2] -}}"
                    {{ 'required pattern=".*\S.*"' if tnvr_o[3] }}>
              <div class="invalid-feedback">
                {{- _('Please enter a meaningful string') -}}
              </div>
              {%- endif %}
            </div>
            {%- endfor %}
          </div>
        </div>
        <div class="list-group list-group-horizontal d-md-none">
          <a href="{{- url_for('base.crud.view_table', table_name=table_name) -}}"
            class="list-group-item list-group-item-action">
            {{- _('Cancel') -}}
          </a>
          <button
            class="list-group-item list-group-item-action"
            data-dbman-url="{{ url_for('base.crud.delete_record', table_name=table_name, pks=pks) }}"
            data-dbman-toggle="delete-record">
            {{ _('Delete') }}
          </button>
          <button type="submit" class="list-group-item list-group-item-action">
            {{- _('Save Changes') -}}
          </button>
        </div>
      </div>
      <div class="col col-md-4 d-none d-md-block dbman-independent-scroll">
       <div class="card">
          <div class="card-header text-center">
            {{- _('Original Data') -}}
          </div>
          <div class="card-body p-3">
            {{ DatadictDBMan(name='orginal', data=viewer_original) }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{%- endblock content -%}
{%- block alert -%}
  {{- ModalDBMan(
    name='main',
    type='dbman-alert',
    title=_('Alert'),
    msgs={
      'success': [_('Success'), _('Operation Successful. _in3seconds, redirecting to View Table')],
      'error': [_('Error'), _('Operation Error')],
      'warning_delete': [_('Alert'), _('_warning_delete')],
      'nochange': [_('Records unchanged'), _('Cannot find any changes.')]
    }
  ) -}}
{%- endblock alert -%}
{%- block scripts -%}
<script>
  var fromTemplate = {}
  fromTemplate['dbman_dict_name_list'] = {{ dbman_dict_name_list }};
  fromTemplate['datajson_element_id_map'] = {{ datajson_element_id_map|tojson }};
</script>
{%- endblock scripts -%}
