{#- app/base/templates/crud/modify_record.jinja -#}
{#-
  @params:
    table_name,
    pks: str = comma joined primary keys,
    select_options={fk_col_name: ((pks, name)...)},
    date_keys: set(str),
    longtext_keys: set(str),
    datajson_keys: set(str),
    required_keys: set(str),
    readonly_keys: set(str),
    data: dict(key, value)
-#}
{%- from 'macros/modal-dbman.jinja' import ModalDBMan -%}
{%- extends "base.jinja" -%}
{%- set prev_page = url_for('base.crud.view_table', table_name=table_name) -%}
{%- block head %}
  <meta name="modules" content="form-modify,modal-alert">
{%- endblock head -%}
{%- block content %}
<div class="container-fluid">
  <form method="post" id="dbman-modify-main" class="needs-validation" novalidate>
    <div class="row mt-2 dbman-fixed-fill">
      <div class="col col-md-2 d-none d-md-block dbman-independent-scroll">
        <div class="card">
          <div class="card-header text-center">
            {{- _('Related Actions') -}}
          </div>
          <div class="list-group text-center">
            <a href="{{- url_for('base.crud.view_table', table_name=table_name) -}}"
              class="list-group-item list-group-item-action">
              {{- _('Cancel') -}}
            </a>
            <button
              class="list-group-item list-group-item-action"
              data-dbman-url="{{ url_for('base.crud.delete_record', table_name=table_name, pks=pks) }}"
              data-dbman-toggle="delete-record">
              {{ _('Delete') }}
            </button>
            <button type="submit" class="list-group-item list-group-item-action">
              {{- _('Save Changes') -}}
            </button>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-8 mx-auto dbman-independent-scroll">
        <div class="card">
          <div class="card-header">
            {{- _('_enter_form_data') -}}
          </div>
          <div class="card-body">
            {%- for key in headers -%}
            {%- set value = data[key] %}
            <div class="input-group mb-3 flex-nowrap">
              <label class="input-group-text" for="{{ key }}">
              {%- if key in col_rel_map %}
                {{- _(col_rel_map[key], db_dict) -}}
              {%- else %}
                {{- _(key, db_dict) -}}
              {%- endif -%}
              {%- if key in required_keys -%}
                <div class="text-danger">*</div>
              {%- endif -%}
              </label>
              {%- if key in date_keys %}
              <input {{ 'name="' + key + '"' if key not in readonly_keys }}
                    type="date"
                    class="form-control"
                    id="{{ key }}"
                    value="{{- '' if pks == '_new' else value -}}"
                    {{ 'required' if key in required_keys }}
                    {{ 'readonly' if key in readonly_keys }}>
              {%- elif key in select_options.keys() -%}
              {%- set options = select_options[key] -%}
              {%- set is_long_options = options|length > 5 -%}
              {%- if is_long_options %}
              <div class="mj-selectpicker">
                <input type="search" class="form-control" placeholder="🔍" id="{{ key }}-search">
              {%- endif %}
              <select {{ 'name="' + key + '"' if key not in readonly_keys }}
                      class="form-select"
                      id="{{ key }}"
                      {{ 'required' if key in required_keys }}
                      {{ 'readonly' if key in readonly_keys }}>
                <option value="" {{ 'selected' if pks=="_new" else '' }} hidden>
                  {{ _('Please select') -}}
                </option>
                {%- for option in options %}
                <option value="{{- option[0] -}}"
                  {%- if pks and value|string == option[0]|string -%}
                  selected
                  {%- endif -%}>
                  {{- option[1] -}}
                </option>
                {%- endfor %}
              </select>
              {%- if is_long_options %}
              </div>
              {%- endif -%}
              {%- elif key in datajson_ref_map.keys() %}
              <textarea id="{{ key }}" name="{{ key }}" class="form-control" 
                row="3" value='{{ value }}' readonly>{{- value -}}</textarea>
              </div><div class="container-fluid">
              <div id="dbman-datajson-{{ key }}" class="dbman-datajson" data-dbman-data="{{ value }}"></div>
              {%- elif key in longtext_keys %}
              <textarea {{ 'name="' + key + '"' if key not in readonly_keys }}
                        id="{{- key -}}"
                        class="form-control"
                        rows="{{- 3 if value is none or value == '' else ((value|length)/40)|round|int + 1 -}}"
                        {{ 'required pattern=".*\S.*"' if key in required_keys }}
                        {{ 'readonly' if key in readonly_keys }}>
                {{- '' if pks == '_new' else value -}}
              </textarea>
              {%- else %}
              <input {{ 'name="' + key + '"' if key not in readonly_keys }}
                    type="text"
                    class="form-control"
                    id="{{- key -}}"
                    value="{{- '' if pks == '_new' else value -}}"
                    {{ 'required pattern=".*\S.*"' if key in required_keys }}
                    {{ 'readonly' if key in readonly_keys }}>
              <div class="invalid-feedback">
                {{- _('Please enter a meaningful string') -}}
              </div>
              {%- endif %}
            </div>
            {%- endfor %}
          </div>
        </div>
        <div class="list-group list-group-horizontal d-md-none">
          <a href="{{- url_for('base.crud.view_table', table_name=table_name) -}}"
            class="list-group-item list-group-item-action">
            {{- _('Cancel') -}}
          </a>
          <button
            class="list-group-item list-group-item-action"
            data-dbman-url="{{ url_for('base.crud.delete_record', table_name=table_name, pks=pks) }}"
            data-dbman-toggle="delete-record">
            {{ _('Delete') }}
          </button>
          <button type="submit" class="list-group-item list-group-item-action">
            {{- _('Save Changes') -}}
          </button>
        </div>
      </div>
      <div class="col col-md-2 d-none d-md-block dbman-independent-scroll">
      </div>
    </div>
  </form>
</div>
{%- endblock content -%}
{%- block alert -%}
  {{- ModalDBMan(
    name='main',
    type='dbman-alert',
    title=_('Alert'),
    msgs={
      'success': [_('Success'), _('Operation Successful. _in3seconds, redirecting to View Table')],
      'error': [_('Error'), _('Operation Error')],
      'warning_delete': [_('Alert'), _('_warning_delete')],
      'nochange': [_('Records unchanged'), _('Cannot find any changes.')]
    }
  ) -}}
{%- endblock alert -%}
{%- block scripts -%}
<script>
  var fromTemplate = {}
  fromTemplate['datajson_ref_map'] = {{ datajson_ref_map }};
  fromTemplate['db_dict_names'] = "{{ db_dict_names }}";
</script>
{%- endblock scripts -%}
