{#- app/base/templates/crud/view_table.jinja -#}
{%- from 'macros/datatable-dbman.jinja' import DatatableDBMan -%}
{%- from 'macros/modal-dbman.jinja' import ModalDBMan -%}
{%- extends "base.jinja" -%}

{%- block head -%}
  <meta name="modules" content="modal-alert,datatable">
{%- endblock head -%}

{#- @param for base.jinja - prev_page: redirect to upper level page -#}
{%- set prev_page = url_for('base.crud.index') -%}

{%- block content %}
  <div class="container-fluid">
    <div class="row">
      <h5 class="mt-3">
        {{- _('View Records') -}}:
        <div class="dropdown d-inline">
          <button type="button"
            data-bs-toggle="dropdown" 
            class="btn btn-sm btn-outline-dark dropdown-toggle">
            {{- table_name -}}
          </button>
          {#- 为不是当前查询表格的表格增加访问下拉菜单 -#}
          <ul class="dropdown-menu">
            {#- 生成菜单的访问链接 -#}
            {%- for tn in table_names -%}
              <li>
                {#- 如果列表中的表格名与当前查询的表格名一样，显示为活动项，否则为链接 -#}
                {%- if tn == table_name -%}
                  {%- set dd_active = 'active' -%}
                  {%- set dd_url = '#' -%}
                {%- else -%}
                  {%- set dd_active = '' -%}
                  {%- set dd_url = url_for('base.crud.view_table', table_name=tn) -%}
                {%- endif -%}
                <a class="dropdown-item {{ dd_active }}" data-dbman-viewtable="{{ tn }}" href="{{ dd_url }}">
                  {{- tn -}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </h5>
    </div>
    <div class="row">
    {{- DatatableDBMan(table_name=table_name, name='main', data=data) }}
    </div>
  </div>
{%- endblock content -%}

{%- block alert %}
  {{ ModalDBMan(
    name='main',
    type='dbman-alert',
    title=_('Alert'),
    msgs={
      'success': [_('Success'), _('Operation Successful')],
      'error': [_('Error'), _('Operation Error')],
      'warning_delete': [_('Alert'), _('_warning_delete')]
    }
  ) }}
{%- endblock alert -%}

{%- block scripts -%}{%- endblock scripts -%}
