{#- app/base/templates/crud/view_record.jinja -#}
{%- from 'macros/datadict-dbman.jinja' import DatadictDBMan -%}
{%- extends 'base.jinja' -%}

{%- block head -%}
  <meta name="modules" content="">
{%- endblock head -%}

{#- @param for base.jinja - prev_page: redirect to upper level page -#}
{%- set prev_page = url_for('base.crud.view_table', table_name=table_name) -%}
{%- set ref_names = rel_data['ref_names'] -%}
{%- set ref_lists = rel_data['ref_lists'] -%}
{%- set datajson_ref_names = rel_data['datajson_ref_names'] -%}
{%- block content %}
  <div class="container-fluid">
    <div class="row p-3 dbman-fixed-fill mx-auto">
      <div class="col-md-2 p-3 d-none d-md-block dbman-independent-scroll text-center">
        <h5>{{- _('Related Functions') -}}</h5>
      </div>
      <div class="col-sm-12 col-md-6 p-3 border dbman-independent-scroll">
        <h5>{{- _('Basic Information') -}}</h5>
        <div>
        {{- DatadictDBMan(
              name='basic',
              data=basic_info,
              headers=headers,
              ref_names=ref_names,
              datajson_ref_names=datajson_ref_names,
              dbman_dict_name_list=dbman_dict_name_list,
            ) 
        -}}
        </div>
      </div>
      <div class="col-md-4 p-3 d-none d-md-block dbman-independent-scroll">
        <h5>{{- _('Related Objects') -}}</h5>
        <div class="list-group list-group-flush">
        {%- for local_col_key, obj_data in ref_names.items() %}
          {%- set ref_table = obj_data['ref_table'] -%}
          {%- set ref_pks_name = obj_data['ref_pks_name'] -%}
          {%- set rel_key = obj_data['rel_key'] %}
          <div class="list-group-item">
            <span>{{- _(ref_table, dbman_dict_name_list) }} :</span>
            <a href="{{- url_for('base.crud.view_record',
              table_name=ref_table,
              pks=ref_pks_name[0])
              -}}">
                {{- ref_pks_name[1] -}}
            </a>
          </div>
        {%- endfor %}
        </div>
        <div class="list-group list-group-flush mt-3">
        {%- for rel_key, obj_data in rel_data['ref_lists'].items() -%}
          {%- set ref_pks_names = obj_data['ref_pks_names'] -%}
          <a class="list-group-item list-group-item-action"
            href="#collapse-{{- rel_key -}}"
            data-bs-toggle="collapse">
          {{- _(rel_key, dbman_dict_name_list) -}}
          </a>
          <div class="collapse" id="collapse-{{- rel_key -}}">
            <div class="list-group list-group-flush mt-3">
            {%- set ref_table = obj_data['ref_table'] -%}
            {%- for ref_pks_name in ref_pks_names %}
              <div class="list-group-item d-flex justify-content-between">
                <div>
                  <span>{{- _(ref_table, dbman_dict_name_list) -}}:</span>
                    <a href="{{- url_for('base.crud.view_record',
                      table_name=ref_table,
                      pks=ref_pks_name[0]) -}}">
                      {{- ref_pks_name[1] -}}
                    </a>
                </div>
              </div>
            {%- endfor -%}
            </div>
          </div>
        {%- endfor %}
        </div>
      </div>
    </div>
    <div class="row bg-light">
      <nav id="navbar-view" class="navbar navbar-expand-lg navbar-light p-3 d-md-none">
        <div class="navbar-brand"></div>
        <ul class="nav">
          <li class="nav-item dropup">
            <button class="btn dropdown-toggle {{ 'd-none' if (not rel_data['ref_names']) and (not rel_data['ref_lists']) -}}" 
              data-bs-toggle="dropdown" data-bs-auto-close="outside" 
              role="button" aria-expanded="false">
              {{- _('Related Objects') -}}
            </button>
            <ul class="dropdown-menu" id="ref-list-group">
            {%- for local_col_key, obj_data in rel_data['ref_names'].items() -%}
              {%- set ref_pks_name = obj_data['ref_pks_name'] -%}
              {%- set ref_table = obj_data['ref_table'] -%}
              <li>
                <a class="dropdown-item" 
                  href="{{- url_for('base.crud.view_record', 
                    table_name=ref_table, 
                    pks=ref_pks_name[0]) 
                  -}}">
                  {{- _(ref_table, dbman_dict_name_list) -}} : {{- ref_pks_name[1] -}}
                </a>
              </li>
            {%- endfor %}
            {%- for rel_key, obj_data in rel_data['ref_lists'].items() -%}
              {%- set ref_pks_names = obj_data['ref_pks_names'] -%}
              {%- set ref_table = obj_data['ref_table'] %}
              <li class="dropdown-item">
                <div class="dropstart">
                  <button type="button" class="btn dropdown-toggle" 
                    data-bs-toggle="dropdown" data-bs-parent="#ref-list-group"
                    role="button">
                  {{- _(rel_key, dbman_dict_name_list) -}}
                  </button>
                  {#- ignore H021: -#}<ul class="dropdown-menu card-body" style="min-height:20vh; overflow-y:auto">
                  {%- for ref_pks_name in ref_pks_names -%}
                    <li>
                      <a class="dropdown-item" 
                        href="{{- url_for('base.crud.view_record',
                          table_name=ref_table,
                          pks=ref_pks_name[0]) -}}">
                       {{- ref_pks_name[1] -}}
                      </a>
                    </li>
                  {%- endfor %}
                  </ul>
                </div>
              </li>
            {%- endfor %}
            </ul>
          </li>
          <li class="nav-item dropup">
            <button class="btn dropdown-toggle" 
               data-bs-toggle="dropdown" 
               href="#" role="button" aria-expanded="false">
              {{- _('Related Functions') -}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Func 1</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{%- endblock content -%}
