<!--app/base/templates/admin/modify_item.html-->
{% extends "base.html" %}
{% set prev_page = url_for('base.admin.view_table', table_name=table_name) %}
{% set title = PageText['Admin']['ModifyRecord'] if item_id else PageText['Admin']['AddRecord'] %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h5 class="mt-3">{{  title }} : [{{ table_name }}] : [{{ model.id }}]</h5>
<form method="post">
    <div class="mb-3">
        {{ options_fk }}
        {{ prop_info }}
        {% for pi in prop_info %}
            {% set key = pi['key'] %}
        <label class="form-label">{{ key }}</label>
            {% if pi['is_date'] %}
            <input type="date" name="key" class="form-control" id={{ key }}" value="{{ model | attribute(key) if item_id else pi['default'] }}" {{ 'required' if pi['is_required'] }}>
			{% elif pi['is_foreignkey'] and pi['rel_name'] in options_fk.keys() %}
            <select class="form-control" name="{{ key }}" {{ 'required' if pi['is_required'] }}>
                {% for option in options_fk[pi['rel_name']] %}
                    <option value="{{ option.key }}" {% if item_id and model | attribute(key) == option.value %}selected{% endif %}>{{ option.value }}</option>
                {% endfor %}
            </select>
			{% elif pi['is_json'] %}
			json place holder
			{% else %}
            <input type="text" class="form-control" name="{{ key }}" value="{{ model | attribute(key) if item_id else pi['default'] }}" {{ 'required' if pi['is_required'] }}>
			{% endif %}
		{% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">{{ PageText['SaveChanges'] }}</button>
</form>
{% endblock %}
