<!--app/base/templates/admin/modify_record.html-->
{% extends "base.html" %}
{% set prev_page = url_for('base.admin.view_table', table_name=table_name) %}
{% set title = _('Modify Record') if record_id !='__new__' else _('Add Record') %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <h5 class="mt-3">{{  title }}  [{{ table_name }}] id={{ record_id }}</h5>
        <div class="col col-sm-12 col-md-8 col-lg-6 mt-3">
            <form method="post" id="ModifyForm">
                <div class="card">
                    <div class="card-header">{{ _('_enter_form_data') }}</div>
                    <div class="card-body">
                        <input type="text" class="d-none" name="id" value="{{ record_id }}"></input>
                    {% for pi in prop_info %}
                        {% set key = pi['key'] %}
                        {% set attr_value = model|attr(key) %}
                        {% set value = attr_value|string if attr_value else '' %}
                        <div class="input-group mb-3">
                            <label class="input-group-text">
                                {{ key }}
                                {% if pi['is_required'] %}
                                <div class="text-danger">*</div>
                                {% endif %}
                            </label>
                            {% if pi['is_date'] %}
                                <input type="date" class="form-control" name="{{ key }}" value="{{ value if record_id !='__new__' else pi['default'] }}" {{ 'required' if pi['is_required'] }}>
                            {% elif pi['is_foreignkey'] and pi['rel_name'] in options_fk.keys() %}
                                <select class="form-select" name="{{ key }}" {{ 'required' if pi['is_required'] }}>
                                {% set options = options_fk[pi['rel_name']] %}
                                {% for option in options %}
                                    <option value="{{ option }}" {% if record_id and value == option|string %}selected{% endif %}>{{ options[option] }}</option>
                                {% endfor %}
                                </select>
                            {% elif pi['is_json'] %}
                                <div>json place holder</div>
                            {% elif pi['is_longtext'] %}
                                <textarea name="{{ key }}" class="form-control" rows="{{ ((value|length)/40)|round|int + 1 }}">{{ value if record_id != '__new__' else pi['default']}}</textarea>
                            {% else %}
                                <input type="text" class="form-control" name="{{ key }}" value="{{ value if record_id != '__new__' else pi['default'] }}" {{ 'required' if pi['is_required'] }}>
                            {% endif %}
                        </div>                    
                    {% endfor %}
                    </div>
                </div>
                <div class="d-flex justify-content-end w-100 mt-2">
                    <a href="{{ url_for('base.admin.view_table', table_name=table_name) }}" class="btn btn-outline-dark mx-2">{{ _('Cancel') }}</a>
                    <button type="submit" class="btn btn-outline-dark mx-2">{{ _('Save Changes') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
