{# app/base/templates/admin/view_table.jinja #}
{# 后端渲染参数：
table_name: 当前查询的表格名
table_names: 所有表格名列表
theads: 表格的表头列表
models: 当前表格的所有记录模型
prop_info: 当前表格的所有字段信息
EXTModel: 扩展模型类
#}
{# base.jinja中需要的参数：
prev_page: 返回上一页的链接
#}
{% extends "base.jinja" %}
{% set prev_page = url_for('base.admin.admin_index') %}

{% block content %}
{# test area begin #}
{{ models[0].__dict__ }}
{# test area end #}
<div class="container-fluid">
    <!-- 查询表格首行：说明当前功能并生成下拉式查询列表，提供其他表格的查询链接 -->
    <div class="row">
        <h5 class="mt-3">
            {{ _('View Records') }}:
            <div class="dropdown d-inline">
                <button type="button" data-bs-toggle="dropdown" class="btn btn-sm btn-outline-dark dropdown-toggle">
                    {{ table_name }}
                </button>
                {# 为不是当前查询表格的表格增加访问下拉菜单 #}
                <ul class="dropdown-menu">
                    {# 生成菜单的访问链接 #}
                    {% for tn in table_names %}
                    <li>
                        {# 如果列表中的表格名与当前查询的表格名一样，显示为活动项，否则为链接 #}
                        {% if tn == table_name %}
                        {% set dd_active = 'active' %}
                        {% set dd_url = '#' %}
                        {% else %}
                        {% set dd_active = '' %}
                        {% set dd_url = url_for('base.admin.view_table', table_name=tn) %}
                        {% endif %}
                        <a class="dropdown-item {{ dd_active }}" data-dbman-viewtable="{{ tn }}" href="{{ dd_url }}">
                            {{ tn }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </h5>
    </div>
    <!-- 查询表格功能区：包括表头自定义，CSV文件下载，全文前端检索，删除选中的记录等 -->
    <div class="row">
        <div class="d-flex justify-content-start align-items-center mb-3 dbman-datatable dbman-datatable-toolbar">
            <!-- 表格设置功能区，不涉及后端数据处理 -->
            <div class="btn-group me-1" role="group">
                <!-- 表头自定义按钮 -->
                <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal"
                    data-bs-target="#modal-datatable-config">
                    <i class="fa fa-gear" data-bs-toggle="tooltip" data-bs-title="{{ _('_table_config') }}"></i>
                </button>
            </div>
            <!-- 表格批量操作功能区，包括当前过滤的表格数据导出为data.csv，批量删除等 -->
            <div class="btn-group me-1" role="group">
                <!-- 当前过滤的表格数据导出为data.csv -->
                <button class="btn btn-sm btn-outline-dark" id="btn-datatable-download">
                    <i class="fa fa-download" data-bs-toggle="tooltip" data-bs-title="{{ _('Download') }}"></i>
                </button>
                <!-- 批量删除选中的记录 -->
                <button class="btn btn-sm btn-outline-dark" id="btn-datatable-batch-delete">
                    <i class="fa fa-trash" data-bs-toggle="tooltip" data-bs-title="{{ _('Batch Delete') }}"></i>
                </button>
            </div>
            <!-- 表格全文前端检索功能区，包括全文检索输入框，全文检索按钮，清除全文检索按钮 -->
            <div class="input-group input-group-sm justify-content-start" role="group">
                <input id="search-datatable-fulltext" class="form-control form-control-sm" type="search"
                    placeholder="{{ _('Search') }}">
                <button id="btn-datatable-no-filter" class="btn btn-sm btn-outline-dark d-none">
                    <i class="fa-solid fa-filter-circle-xmark" data-bs-toggle="tooltip"
                        data-bs-title="{{ _('Remove Filter') }}"></i>
                </button>
                <button id="btn-datatable-search-fulltext" class="btn btn-sm btn-outline-dark" data-bs-toggle="tooltip"
                    data-bs-title="{{ _('Search') }}">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <!-- 添加记录按钮，跳转到添加记录页面，添加记录是最常见操作，从人机工程角度放在右侧 -->
            {# record_id='_new' 表示添加新记录，数据库表中不允许任何表主键设置为_new #}
            <a href="{{ url_for('base.admin.modify_record', table_name=table_name, record_id='_new') }}"
                class="btn btn-sm btn-outline-dark">
                <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-title="{{ _('Add Record') }}"></i>
            </a>
        </div>
    </div>
    <!-- 查询表格区，表格左侧第1列为选项卡，用于选中当前记录，第2列为单条记录的修改与删除等单记录功能按钮 -->
    <div class="row">
        <div class="table-responsive dbman-datatable dbman-datatable-body">
            <table id="table-dataTable" class="table table-hover table-sm dbman-datatable-table">
                <thead class="sticky-top">
                    <!-- 表头第1行，包括全选按钮，操作按钮，表头列名 -->
                    <tr class="align-items-center">
                        <th><input class="form-check-input" data-dbman-toggle="check-all" type="checkbox" value="">
                        </th>
                        <th>{{ _('_table_action') }}</th>
                        {% for thead in theads %}
                        {# 移动、显隐数据列时用到行号 loop.index #}
                        <th data-dbman-col-num="{{ loop.index }}">
                            {{ thead }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {# 填充数据表格 #}
                    {% for model in models %}
                    <tr class="align-items-top">
                        <td>
                            <input class="form-check-imput" data-dbman-toggle="check-item"
                                data-dbman-record-id="{{ model.id }}" type="checkbox" value="">
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{{ url_for('base.admin.modify_record', table_name=table_name, record_id=model.id) }}"
                                    class="btn btn-sm btn-outline-dark">
                                    <i class="fa fa-edit" data-bs-toggle="tooltip"
                                        data-bs-title="{{ _('Modify') }}"></i>
                                </a>
                                &nbsp;
                                <button
                                    data-delete-record-url="{{ url_for('base.admin.delete_record', table_name=table_name, record_id=model.id) }}"
                                    class="btn btn-sm btn-outline-dark" data-bs-toggle="tooltip"
                                    data-bs-title="{{ _('Delete') }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                        {% set data_dict = model.data_dict(data_style='rel_name') %}
                        {% for pi in prop_info %}
                        {% set key = pi['key'] %}
                        {% set value = data_dict[key] %}
                        {% if pi['is_extension'] and value %}
                        <td data-column-id="{{ theads.index(key) + 1 }}" data-column-data="{{ value }}">
                            <div class="btn-group align-items-top">
                                <button class="btn btn-sm align-items-top" data-bs-toggle="tooltip"
                                    data-bs-title="{{ _('_extend_data') }}" data-dbman-toggle="extension"
                                    data-column-key="{{ key }}"
                                    data-column-reltable="{{ EXTModel[value].__table_name__ }}">
                                    <i class="fa fa-circle-info"></i>
                                </button>
                                <span class="align-items-top">{{ value }}</span>
                            </div>
                        </td>
                        {% else %}
                        <td data-column-id="{{ theads.index(key) + 1 }}">{{ value if value else '' }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- #tableConfigModal -->
    <div class="modal fade" id="tableConfigModal" tabindex="-1" data-title="{{ _('_table_config') }}"
        data-close="{{ _('Cancel') }}" data-save="{{ _('Save Changes') }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ _('_table_config') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="card" id="tableConfigTHeads">
                        <div class="card-header" id="tableTHeadsHeader">{{ _('_table_header') }}</div>
                        <div class="card-body" id="tableConfigTHeadsBody">
                            <div class="list-group" id="tableConfigTHeadsList">
                                {% for thead in theads %}
                                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center draggableList"
                                    data-tcm-li="{{ loop.index }}">
                                    <div>
                                        <input class="form-check-input" type="checkbox" id="tcmColumn{{ loop.index }}"
                                            value="{{ thead }}" data-tcm-cb="{{ loop.index }}" checked>
                                        <label class="form-check-label streched-link" for="tcmColumn{{ loop.index }}">
                                            {{ thead }}
                                        </label>
                                    </div>
                                    <span class="handle draggable" data-tcm-handle="{{ loop.index }}"><i
                                            class="fa fa-bars"></i></span> <!-- 添加拖拽手柄 -->
                                </li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-dark" id="restoreTableConfigDefaultButton">{{
                        _('Restore Default') }}</button>
                    <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">{{ _('Cancel')
                        }}</button>
                    <button type="button" class="btn btn-sm btn-outline-dark" id="saveTableConfigButton">{{ _('Save
                        Changes') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}