<!-- app/base/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('base.static', filename='css/styles.css') }}">
    <title>{% block title %}{{ _('_app_name') }}{% endblock %}</title>
</head>
<body>
    <!-- 主内容容器 -->
    <div class="container-fluid px-4">
        <div class="row row-cols-auto align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <div class="button-container d-flex align-items-center">
                    {% if prev_page != None %}
                        <a href="{{ prev_page }}" class="btn" id="prevPage"><i class="fa fa-arrow-left"></i></a>
                        <a href="/" class="btn"><i class="fa fa-house"></i></a>
                    {% endif %}
                    {% if session.get('language') == 'en' %}
                        <!-- 如果当前语言是英文，显示中文切换按钮 -->
                        <a href="/lang/zh" class="btn">简中</a>
                    {% else %}
                        <!-- 如果当前语言是中文，显示英文切换按钮 -->
                        <a href="/lang/en" class="btn">En</a>
                    {% endif %}
                </div>
                <nav class="d-none d-lg-block">
                    <ol class="breadcrumb mb-0 justify-content-start align-items-center">
                        {% for nav_level in navigation %}
                            {% if loop.last %}
                                <li class="breadcrumb-item active">{{ nav_level }}</li>
                            {% else %}
                                <li class="breadcrumb-item">
                                    <a href="{{ navigation[nav_level] }}">
                                        {{ nav_level }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            <button class="btn d-lg-none ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavigation" aria-controls="offcanvasNavigation">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="offcanvas offcanvas-end" style="width: 250px;" tabindex="-1" id="offcanvasNavigation">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavigationLabel">{{ _('Navigation') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="nav flex-column">
                    {% for nav_level in navigation %}
                        <a class="nav-link{{ ' disabled' if loop.last else ''}}" href="{{ _(navigation[nav_level]) }}">
                            {{ nav_level }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div> 
    <!-- 警告提示框 #alertModal -->
    <div class="modal fade" id="alertModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alert</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p6 class="d-none" data-success>{{ _('Success') }}</p6>
                    <p6 class="d-none" data-error>{{ _('Error') }}</p6>
                    <p6 class="d-none" data-warning-delete>{{ _('Are you sure of deleting the record?') }}</p6>
                    <div data-msg></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" data-am-close>{{ _('Close') }}</button>
                    <button type="button" class="btn btn-outline-dark d-none" data-am-confirm>{{ _('Confirm') }}</button>
                    <button type="button" class="btn btn-outline-dark d-none" data-am-back>{{ _('BackToViewTable') }}</button>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('base.static', filename='js/scripts.js') }}"></script>
</body>
</html>
