{# app/base/templates/base.jinja #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MJ's Database Management">
    <meta name="keywords" content="database, management, efficiency, productivity">
    <meta name="author" content="Xiaolong Liu">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('base.static', filename='css/styles.css') }}">
    {% block head %}
    {% endblock head %}
    {# 下划线开头和/或连接的文字如_app_name或FIXED_DATE在app/base/static/pagetext/locale_[lang].json中有定义 #}
    <title>
        {% block title %}
        {{ _("_app_name") }}
        {% endblock title %}
    </title>
</head>

<body>
    <!-- 主内容容器 -->
    <div class="container-fluid">
        {# 默认导航栏 #}
        {% block navbar %}
        <div class="row row-cols-auto align-items-center justify-content-between">     
            <div class="d-flex align-items-center">
                <!-- 语言切换按钮 -->
                <div class="button-container d-flex align-items-center">
                    {% if prev_page %}
                    <a href="{{ prev_page }}" class="btn"><i class="fa fa-arrow-left"></i></a>
                    <a href="{{ url_for('base.index') }}" class="btn"><i class="fa fa-house"></i></a>
                    {% endif %}
                    {% if session.get('language') == 'en' %}
                    <!-- 如果当前语言是英文，显示中文切换按钮 -->
                    <a href="{{ url_for('base.set_lang', lang='zh') }}" class="btn">简中</a>
                    {% else %}
                    <!-- 如果当前语言是中文，显示英文切换按钮 -->
                    <a href="{{ url_for('base.set_lang', lang='en') }}" class="btn">En</a>
                    {% endif %}
                </div>
                <!-- 大屏显示导航按钮，小屏为下面的三横按钮。最右为当前页面无链接，向左依次提供前序页面的链接 -->
                <nav class="d-none d-lg-block">
                    <ol class="breadcrumb mb-0 justify-content-start align-items-center">
                        {% for nav_level in navigation %}
                        {% if loop.last %}
                        <li class="breadcrumb-item active">{{ _(nav_level) }}</li>
                        {% else %}
                        <li class="breadcrumb-item">
                            <a href="{{ navigation[nav_level] }}">{{ _(nav_level) }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            <!-- 三横线按钮，大屏显示时不可见，小屏弹出页边画布显示导航 -->
            <button class="btn d-lg-none ms-auto" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas-navigation">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- 弹出式画布显示小屏导航 -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-navigation">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavigationLabel">{{ _("Navigation") }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="nav flex-column">
                    {% for nav_level in navigation %}
                    <a class="nav-link{{ ' disabled' if loop.last else '' }}" href="{{ navigation[nav_level] }}">
                        {{ _(nav_level) }}</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
        {% endblock navbar %}
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
    {% block alert %}
    {% endblock alert %}
    <!-- JS代码区 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('base.static', filename='js/scripts.js') }}"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>
