{% extends "base.html" %}
{% set prev_page = url_for('manager.view_table', table_name=table_name, data_table_state=session.get('data-table-state')) %}
{% block title %} {{ _('Modify Record') }} {% endblock %}
{% block content %}
<h2 class="mt-3">{{ _('Modify Record') if item else _('Add Record') }} {{ table_name }}</h2>
<form method="post">
    {% for ci in columns_info %}
    {% if not (ci['is_integer'] and ci['is_primary_key']) %}
    <div class="mb-3">
		{% if ci['is_modifiable'] %}
        <label class="form-label">{{ ci['original_col'] }}</label>
			{% if ci['is_date'] %}
            <input type="date" class="form-control" name="{{ ci['original_col'] }}" value="{{ item[ci['original_col']] if item else '' }}" {{ 'required' if ci['original_col'] in required_columns else '' }}>
			{% elif ci['is_foreign_key'] %}
            <select class="form-control" name="{{ ci['original_col'] }}" {{ 'required' if ci['original_col'] in required_columns else '' }}>
                {% for option in DBModel[ci['fk_table_name']].query.all() %}
                    <option value="{{ option[ci['original_col']] }}" {% if item and item[ci['original_col']] == option[ci['original_col']] %}selected{% endif %}>{{ option[ci['display_col']] }}</option>
                {% endfor %}
            </select>
			{% elif ci['is_json'] %}
			json place holder
			{% else %}
            <input type="text" class="form-control" name="{{ ci['original_col'] }}" value="{{ item[ci['original_col']] if item else '' }}" {{ 'required' if ci['original_col'] in required_columns else '' }}>
			{% endif %}
		{% endif %}
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
</form>
{% endblock %}