{# app/base/templates/macros/datadict-dbman.jinja #}
{%- macro DatadictDBMan(
      name='main',
      id='dbman-datadict-' + name,
      headers=[],
      data={},
      ref_names=dict(),
      datajson_map=dict(),
      dbman_dict_name_list=[]
    )
%}
  <div class="dbman-datadict" id="{{- id -}}">
  {%- for header in headers %}
    <div class="dbman-datadict-row">
      <div class="dbman-datadict-key">
      {%- if header in ref_names.keys() %}
        <strong>
        {{- _(ref_names[header]['rel_key'], dbman_dict_name_list) -}}
        </strong>:
      {%- else %}
        <strong>{{- _(header, dbman_dict_name_list) -}}</strong>:
      {%- endif %}
      </div>
      <div class="dbman-datadict-value">
      {%- if header in ref_names.keys() %}
        <a href="{{ url_for(
              'base.crud.view_record', 
              table_name=ref_names[header]['ref_table'], 
              pks=data[header])
          }}">
          {{- ref_names[header]['ref_name'] -}}
        </a>
      {%- elif header in datajson_map -%}
      {{ header }}
      {{- datajson_map -}}
      {%- else %}
        {{- data[header] -}}
        {%- endif -%}
      </div>
      </div>
    {%- endfor %}
  </div>
{%- endmacro -%}
